# Dependency directories
node_modules/
dist/
coverage/
.next/
package-lock.json

# Environment files
.env
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# macOS system files
.DS_Store

# IDE/editor folders
.vscode/
.idea/