@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #ededed;
  --secondary: #56d5d5;
  --drawer: #111827;
}

.dark {
  --background: #0f172a;
  --foreground: #ededed;
  --secondary: #56d5d5;
  --drawer: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-drawer: var(--drawer);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Base Styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* Animations */
.zoom-in-down {
  transform: scale(0.5) translateY(-50px);
  opacity: 0;
  transition:
    transform 0.5s ease-out,
    opacity 0.5s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideUp {
  animation: slideUp 0.5s ease-out forwards;
}

/* Gradient Text */
.gradient-text {
  background: linear-gradient(to right, #56d5d5, #0000ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: bold;
}